@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #faeded2d;
}

.nav {
    padding: 0px;
    background-image: url('../img/bg.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 50%;
    position: relative;
}


.container {
    display: flex;
    background-color: white;
    border-radius: 8px;
}
.logo{
    height: 80px;
    width: 100px;
}

.hname {
    margin: 25px 0px 0px 50px;
    color: white;
    font-size: 20px;
}


.ulist {
    display: flex;
    list-style-type: none;
    margin-left: 530px;
    margin-top: 25px;
    font-size: 20px;
    color: black;


}

li {
    margin-left: 105px;
    cursor: pointer;

}

.header {
    text-decoration: none;
    color: black;
    font-family: "Baloo Bhaijaan 2", sans-serif;

}

.header:hover {
    color: red;
}

.fa:hover {
    color: red;
}

.welcome {
    margin: 100px 0px 0px 50px;
    text-shadow: 5px 3px 1px black;
    background-color: #fff2f3;

}


.cname {
    padding-top: 10px;
    color: white;
    font-size: 33px;
    text-align: center;

}

.quote {
    color: white;
    text-align: center;
    font-size: 47px;
    padding-bottom: 50px;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}
.cafe {
    display: flex;
    margin-left: 145px;
    margin-top: 70px;
}

.our {
    font-size: 60px;
    text-align: center;
    margin-top: 60px;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

.boxes {
    border: 1px solid grey;
    border-radius: 25px;
    margin: 0px 0px 0px 50px;
    width: 18vw;
    height: 27vh;
    transition: 0.5s;
    cursor: pointer;
}

.boxes img {
    display: block;
    width: 18vw;
    height: 20vh;
    border-radius: 25px 25px 0px 0px;
}

.boxes:hover {
    transform: scale(0.9);
    /* z-index: 1; */
}

.para1 {
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: -2px;
}



.btn1 {
    margin: 170px 0px 0px 80px;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(123, 68, 44);
}

.btn1:hover {
    background-color: black;
    color: white;
    text-shadow: 2px 2px 2px red;
}